.imgWrapper {
  flex-grow: 1;
  height: 311px;
  background: #f8fafc;
  border: 2px dashed #cbd5e1;
  border-radius: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.imgWrapper > img {
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.btn {
  position: absolute;
  right: 16px;
  bottom: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.select {
  background: #e2e8f0;
}

.modify {
  background: #0f172a80;
  border: 2px solid #0f172a;
}
