.section {
  background-color: #fff;
  padding: 24px 4vw 0;
  width: 100%;
  height: 100%;
}

.itemForm {
  width: 100%;
  height: 100%;
}

@media (max-width: 744px) {
  .section {
    padding-bottom: 150px;
    height: auto;
  }

  .itemForm {
    height: auto;
  }
}

.itemName {
  width: 100%;
  max-width: 996px;
  height: 64px;
  margin: 0 auto;
  border-radius: 24px;
  border: 2px solid #0f172a;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.done {
  background: #ddd6fe;
}

.inputWrapper {
  position: relative;
  display: inline-block;
}

.hiddenSpan {
  visibility: hidden;
  position: absolute;
  white-space: pre;
  font: inherit;
  padding: 0.5rem;
  min-width: 20px;

  font-family: var(--font-nanum-square-bold);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.7px;
}

.inputName {
  text-decoration: underline;
  outline: none;
  border: none;
  background: transparent;
  min-width: 20px;

  font-family: var(--font-nanum-square-bold);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.7px;
}

.fileAndMemoWrapper {
  display: flex;
  gap: 24px;

  width: 100%;
  max-width: 996px;
  margin: 0 auto;
  margin-top: 24px;
}

@media (max-width: 744px) {
  .fileAndMemoWrapper {
    flex-direction: column;
  }
}

.memoWrapper {
  display: flex;
  flex-direction: column;
  background-image: url("/memo.svg");
  width: 100%;
  height: 311px;
  border-radius: 24px;
  padding: 16px;
  flex-grow: 1;
}

.memo {
  font-family: var(--font-nanum-square-Extrabold);
  font-size: 16px;
  font-weight: 800;
  line-height: 18.16px;
  text-align: center;
  color: #92400e;
  margin: 8px 0px 16px;
}

.inputMemo {
  width: 100%;
  height: 100%;

  font-size: 16px;
  font-weight: 400;
  line-height: 18.16px;
  text-align: center;

  background: transparent;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
}

.inputMemo::-webkit-scrollbar {
  width: 4px;
  height: 45px;
}

.inputMemo::-webkit-scrollbar-track {
  background: transparent;
}

.inputMemo::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #fde68a;
}

.btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;

  width: 100%;
  max-width: 996px;
  margin: 0 auto;
  margin-top: 24px;
}

@media (max-width: 744px) {
  .btns {
    justify-content: center;
    gap: 8px;
  }
}

@media (max-width: 375px) {
  .btns {
    justify-content: center;
    gap: 7px;
  }
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
