.form {
  width: 100%;
  margin-top: 24px;

  display: flex;
  gap: 16px;
}

.input {
  width: 100%;
  height: 52.5px;
  border: 2px solid #0f172a;
  border-radius: 24px;
  outline: none;
  padding: 0 20px;
  background: #f1f5f9;

  position: relative;
  z-index: 1;

  font-size: 16px;
  font-weight: 400;
  line-height: 18.16px;
}

.inputWrapper {
  position: relative;
  flex-grow: 1;
}

.inputShadow {
  position: absolute;
  width: 100%;
  max-width: 996px;
  height: 52.5px;
  top: 3.5px;
  left: 4px;
  z-index: 0;
  border-radius: 24px;
  background: #0f172a;
  border: 2px solid #0f172a;
}

.input::placeholder {
  color: #64748b;
}

.btn {
  width: 164.35px;
  height: 52px;
  border-radius: 24px;
  border: 2px solid #0f172a;
  background: #e2e8f0;
  color: #0f172a;

  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  font-family: var(--font-nanum-square-bold);
  font-size: 16px;
  font-weight: 700;
  line-height: 18.16px;
  text-align: center;
  cursor: pointer;
}

.btnWrapper {
  position: relative;
}

.btnShadow {
  position: absolute;
  z-index: 0;
  width: 164.35px;
  height: 52px;
  top: 4px;
  left: 3.65px;
  border-radius: 24px;
  background: #0f172a;
  border: 2px solid #0f172a;
}

@media (max-width: 375px) {
  .btnText {
    display: none;
  }

  .btn,
  .btnShadow {
    width: 54.78px;
  }
}

.empty {
  background: #7c3aed;
  color: #fff;
}
